- const {lang, title, themeColor} = withSSR ? options : htmlWebpackPlugin.options

doctype html
html(lang=lang)

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color" content=themeColor)

        style
            |html, body, #root {
            |    display: flex;
            |    flex-direction: column;
            |    height: 90%;
            |}

        if withSSR
            |!{serverTitle}
        else
            title #{title}

    body
        #root !{html}
        if preloadedState
            //- WARNING: See the following for security issues around embedding JSON in HTML:
            //- http://redux.js.org/recipes/ServerRendering.html#security-considerations
            script window.__PRELOADED_STATE__ = !{JSON.stringify(preloadedState).replace(/</g, '\\u003c')}
        if css
            style(id="jss-server-side") !{css}
        if withSSR
            script(type="text/javascript" src="/bundle.js")
